.header{
    background-color: green;
    color: white;
    height: 75px;
    border-radius: 5px;
    margin: 0px 0px 0px 10px;
}
.header h1{
    /* border: 1px solid black; */
    margin: 0px 0px 0px 0px;
    padding: 5px;
}
.header p{
    /* border: 1px solid red; */
    position: absolute;
    top: 30px;
    padding: 5px;
}
.header a:link{
    color: black;
}
.header a:visited{
    color: black;
}