div.main{
    position: absolute;
    right: 0;

    border: 1px solid black;
    width: 350px;
    padding: 10px;
    
    
}

div.one{
    width:  220px;
    padding: 10px;
    border: 5px solid gray;

   
    

}